.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 22%;
    margin: 0 .5rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders {
    font-size: 1.2rem;
    display: block;
    margin-left: 7rem;
}
#container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

